<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zju.shopkeeper.mapper.BankcardUserRelationshipMapper">
    <insert id="createRelationship" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bankcard_user_relationship
        (user_id, bankcard_id, state)
        VALUES (#{userId}, #{bankcardId}, #{state})
    </insert>
    <update id="deleteRelationship" parameterType="integer">
        UPDATE bankcard_user_relationship
        SET state = 0
        WHERE id = #{id}
    </update>
    <select id="queryRelationshipList" resultType="BankcardUserRelationship">
        SELECT *
        FROM bankcard_user_relationship
        WHERE user_id = #{userId}
              AND state = 1
    </select>
    <select id="getRelationshipById" resultType="BankcardUserRelationship">
        SELECT *
        FROM bankcard_user_relationship
        WHERE id = #{id}
              AND state = 1
    </select>
</mapper>
